@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif !important;
}

h1, h2, h3, h4, h5, h6, p, span, ::placeholder {
    font-family: 'Inter', sans-serif !important;
}

.mantine-Text-root, .mantine-Button-label, .mantine-Radio-label, .mantine-Accordion-control, .mantine-Chip-label, .mantine-Accordion-content {
    font-family: 'Inter', sans-serif !important;
}
